# Entorno virtual
venv/
env/
.venv/
.env/

# Archivos Python compilados
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Migraciones (mantener solo __init__.py si existieran)
*/migrations/*.py
!*/migrations/__init__.py

# Base de datos local
*.db
*.sqlite3
*.sqlite

# Logs y temporales
*.log
*.tmp
*.temp
*.bak
*.backup

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
desktop.ini


